@import '../../../variables.scss';

.root {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  background-color: $color-white;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-twilight-blue;
  }
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxHidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkboxVisible {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: all 150ms;
  border: 1px solid $color-rock-blue;

  &.isActive {
    border-color: $color-dodger-blue;
  }
}
