// colors
$color-white: #fff;
$color-black: #000;
$color-mystic: #dfe5ec;
$color-tundora: #4a4a4a;
$color-gull-gray: #a0b0b9;
$color-dodger-blue: #2196f3;
$color-twilight-blue: #f1fcff;
$color-black-10: rgba($color-black, 0.1);
